:root {
    --blanco: #ffffff;
    --oscuro: #22333b;
    --primario: #3e748d;
    --secundario: #eae0d6;
    --gris: #818181;
}

body {
    font-family: "Urbanist", sans-serif;
    margin: 0px;
}
.contenedor {
    max-width: 1200px;
    margin: auto;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: var(--secundario);
    background-image: url(../images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media (max-width: 615px) {
    .cover {
        background-image: url(../images/cover_m.png);
    }
}

@media (max-width: 450px) {
    .cover {
        height: 800px;
    }
}

.titulo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 100px;
    color: var(--gris);
    text-align: center;
    font-family: "Playfair Display", sans-serif;
}

.titulo span {
    font-size: 30px;
}

@media (max-width: 870px) {
    .titulo {
        font-size: 70px;
    }
}

@media (max-width: 668px) {
    .titulo {
        font-size: 50px;
        width: 336px;
        height: 300px;
        top: 0px;
        bottom: 10px;
        left: 0;
    }

    .titulo span {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.nav-bg {
    background-color: var(--secundario);
    position: sticky;
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 9999;
}

.main {
    background-image: url(../images/menu.svg);
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 20px;
    margin-top: 6px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .main {
        display: none;
    }
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .navegacion-principal {
        display: none;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--blanco);
}

.phrase {
    width: 600px;
    font-size: 30px;
    color: var(--primario);
    text-align: center;
    position: relative;
    margin-top: 90px;
    font-weight: 700;
}

.phrase span {
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 400;
}

@media (max-width: 620px) {
    .phrase {
        width: 340px;
    }
}

.container-clock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 30px 150px;
}

.item-clock {
    display: block;
    text-align: center;
    color: var(--primario);
    font-size: 250px;
    padding: 10px;
}

.time-clock {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primario);
}

.txt-clock {
    font-size: 20px;
    color: var(--primario);
}

.container-place, .container-dresscode {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 768px) {
    .container-place, .container-dresscode {
        flex-direction: row;
        justify-content: space-between;
    }
}

.bg-place {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.item-place {
    display: block;
    width: 95%;
    margin: 10px auto;
}

@media (min-width: 768px) {
    .item-place {
        width: 48%;
        margin: auto auto;
    }
}

#ceremony {
    background-image: url(../images/church.jpg);
}

#reception {
    background-image: url(../images/garden.jpeg);
}

.info-place {
    background-color: var(--secundario);
    padding: 50px 10px;
    min-height: 493px;
}

.info-place h2 {
    text-align: center;
    color: var(--primario);
    margin-top: 0;
}

.info-place p {
    text-align: center;
    font-size: 20px;
    color: var(--primario);
}

.info-place a {
    color: var(--primario);
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border: 1px solid var(--primario);
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
    display: block;
    text-align: center;
}

.info-place a i {
    margin-right: 10px;
}

.title {
    margin: 200px auto 150px;
    color: var(--primario);
    text-align: center;
    font-size: 50px;
}

.title span {
    display: block;
    font-size: 30px;
}

.txt {
    color: var(--primario);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.item-dresscode {
    width: 95%;
    height: 450px;
    margin: 10px auto;
}

@media (min-width: 768px) {
    .item-dresscode {
        width: 48%;
    }
}

.hourglass {
    width: 100px;
    height: 100px;
    margin: 50px auto 0px;
}

.hourglass img {
    width: 100%;
    height: 100%;
}

#schedule .title {
    display: block;
    margin-top: 0px;
}

.schedule-item-title {
    font-size: 30px;
    color: var(--gris);
    text-align: center;
    font-weight: 700;
}

.schedule-item-hour {
    font-size: 20px;
    color: var(--primario);
    font-weight: 700;
    text-align: center;
}

.schedule-item-desc {
    font-size: 16px;
    color: var(--gris);
    text-align: center;
}

.schedule-item-container a {
    color: var(--primario);
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border: 1px solid var(--primario);
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
    display: block;
    text-align: center;
}

.schedule-item-container a i {
    margin-right: 10px;
}

.heart {
    background-image: url(../images/heart.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
}

.box {
    width: 100px;
    height: 100px;
    margin: 150px auto 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    background-image: url(../images/box.png);
}

#gift .title {
    margin-top: 0;
}

.gift-button {
    width: 280px;
    height: 140px;
    margin: 50px auto;
    -webkit-box-shadow: -10px 0px 25px 5px rgba(129,129,129,0.5);
    -moz-box-shadow: -10px 0px 25px 5px rgba(129,129,129,0.5);
    box-shadow: -10px 0px 25px 5px rgba(129,129,129,0.5);
    background-color: var(--secundario);
    border-radius: 10px;
    background-image: url(../images/liverpool.png);
    background-position: top 15px center;
    background-repeat: no-repeat;
    background-size: 85%;
    position: relative;
    padding-top: 10px;
}

#gift a {
    display: block;
    width: 280px;
    height: 140px;
    margin: 50px auto;
}

.code {
    width: 80px;
    color: var(--primario);
    padding: 5px;
    text-decoration: none!important;
    position: absolute;
    bottom: 7px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.photo {
    width: 100%;
    height: 900px;
    background-image: url(../images/foto.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120%;
}

@media (max-width: 1300px) {
    .photo {
        height: 510px;
    }
}

@media (max-width: 768px) {
    .photo {
        height: 300px;
    }
}

@media (max-width: 450px) {
    .photo {
        height: 250px;
    }

    #gift .title {
        margin-bottom: 50px;
    }
}

footer p {
    color: var(--gris);
    text-align: center;
}